*
{
    box-sizing: border-box;
}
body{
    margin:0;
    background-color:lightpink;
    /* color:white; */
}
.input_container
{
    text-align: center;
    height:15vh;
    
      
}

.task_container
{
    height:85vh;
    /* background-color: lightgreen; */
    color:rgba(57, 42, 146, 0.699);
    text-align: center;  
    font-family: 'Zen Dots',cursive;
}
.input_box
{
    
    
    font-family: 'Zen Dots',cursive;
    height:50%;
    font-size: 1.5rem; 
    display: block; 
    margin:0 auto;
    margin-top: 30px;
    width: 60vw;
}
.task{
    list-style: none;
    background-color: coral;
    /* background color k liye height aur width */
    height:1.25rem;
    text-align: center;
    
    width:60vw;
    margin: auto;
    margin-bottom: 0.5vh;
}
/* .task_list
{
    width:50vw;
    margin-left:25%; 
} */
.instruction
{
    font-size: 1.75rem;
}


/* these are declared to give screen specified styling */
/* if condition satishfed then only it will apply on screen */
@media screen and (max-width : 700px) {
    body{
        background-color: red;
    }
}
