*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'New Tegomin', serif;
    background-color:#f5f6fa;
}

.toolbar{
    height: 12vh;
    background-color: #333;
    display: flex;
    align-items: center;
    padding-left: 5rem;
}

.filter_container{
    height: 60%;
    /* border: 1px solid red; */
    width: 14rem;
    margin-right: 5rem;
    border-radius: 0.3rem;
    background-color: #353b48;
    display: flex;
    
}

.filter{
    height: 100%;
    width: 25%;
    /* border: 1px solid red;  */
    border-radius: 0.3rem ;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.filter_color
{
    height:50%;
    width:50%;
    /* border: 1px solid red; */
    border-radius: 0.3rem ;
   
}
.pink{
    background-color: #e056fd;
}
.blue{
    background-color: #0097e6;
}
.green{
    background-color: #4cd137;
}
.black{
    background-color:#1e272e;
}
.action_container
{
    height: 57%;
    /* border: 1px solid red; */
    width: 8rem;
    border-radius: 0.3rem;
    background-color: #353b48;
    display: flex;
}
.icon_container{
    width:50%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}




/* modal container */
.modal_container
{
    position:absolute;
    height:18rem;
    width: 30rem;
    background-color: antiquewhite;
    /* left:35%; */
    left : calc((100vw - 36rem)/2);
    top:30vh;
    display: flex;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.675);
}

.input_container{
    height:100%;
    width:70%;
}

.modal_filter_container{
    height:100%;
    width:30%;
    background-color: #444;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding:1.5rem 1.2rem;
}

.popup_filter{
    height:15%;
    width:45%;
    border-radius: 0.2rem ;
}
.modal_input
{
    height:100%;
    width:100%;
    font-size: 1.5rem;
    outline: none;
    padding: 2rem 3rem;
    font-family: 'New Tegomin', serif;
    /* space in b/w lines */
    line-height: 125%;
    font-weight: 300;
}

.border{
    border:2px solid white;
}


/* task css */



.main_container{
    height:88vh;
    background-color:#f5f6fa;
    padding-top:2rem;
    padding-left:3rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.task_filter{
    height:6%;
}

.task_desc_container{
    padding-left:0.5rem;
}

.task_desc{
    text-align: center;
}

.task_container{
    background-color: #fff;
    height:10rem;
    width:16rem;
    overflow-y: auto;
}

.uid{
    color:#444;
}